<div class="container">
  <h1>Countries</h1>

  <%= form_with url: countries_path, method: :get do |form| %>
    <%= form.text_field :search, class: 'search-field', placeholder: t('countries.index.search_placeholder') %>
    <%= form.submit t('search'), name: nil %>
  <% end %>

  <% if @countries.any? %>
    <table>
      <thead>
        <tr>
          <th><%= t('countries.name') %></th>
          <th><%= t('countries.alpha_code_2') %></th>
          <th><%= t('countries.alpha_code_3') %></th>
          <th><%= t('countries.currency_code') %></th>
          <th><%= t('countries.index.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% @countries.each do |country| %>
          <tr>
            <td><%= country.name %></td>
            <td><%= country.alpha_code_2 %></td>
            <td><%= country.alpha_code_3 %></td>
            <td><%= country.currency_code %></td>
            <td>
              <%= link_to "Delete", country_path(country), data: { turbo_method: :delete }%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p><%= t('countries.index.no_countries_found') %></p>
  <% end %>
</div>